---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                position="Master of Engineering - MEng, ECE"
                company="University of Toronto, Toronto, Canada"
                startDate="2023"
                endDate="2026"
                logo="/uoft.png"
        />
        <TimeLineElement
                position="Bachelor of Engineering - BE, ECE"
                company="University of Western Ontario, London, Canada"
                startDate="2013"
                endDate="2017"
                logo="/uwo.png"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                position="Senior Software Engineer"
                company="ThinkLabs AI Inc."
                startDate="2024"
                endDate="Present"
                logo="/thinklabs_ai_logo.png"
        >
            <ul class="list-disc mx-6 mb-10 grid gap-2"/>

        </TimeLineElement>

        <TimeLineElement
                position="Senior Software Developer"
                company="GridOS-DERMS, GE Digital, GE Vernova"
                startDate="2023"
                endDate="2024"
                logo="/gevernova_logo.jpeg"
        >
            My responsibilities include all items outlined in the Software Developer role at GridOS-DERMS, GE Digital,
            GE Vernova, as well as:

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Assisting the product manager in defining milestone scopes and refining acceptance criteria for
                    features.
                </li>
                <li>Breaking down large features into smaller, manageable tasks and providing time estimation to the
                    product manager.
                </li>
                <li>Collaborating with cross-functional teams, including architects, product managers, and quality
                    assurance engineers to design integration solutions.
                </li>
                <li>Contributing to the evaluation of new tools and frameworks that have the potential to enhance both
                    application performance and the overall development process.
                </li>
                <li>Providing mentorship and guidance to junior developers, addressing their questions in the workplace,
                    and actively sharing knowledge with them.
                </li>
            </ul>

        </TimeLineElement>

        <TimeLineElement
                position="Software Developer"
                company="GridOS-DERMS, GE Digital, GE Vernova"
                startDate="2019"
                endDate="2023"
                logo="/gevernova_logo.jpeg"
        >
            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Design, implement and improve mathematical optimization models to simulate electric power grid with
                    distributed energy resources (DERs) by using GAMS
                </li>
                <li>
                    Maintain `optimization engine`: the python package to run power flow analysis
                </li>
                <li>
                    Design, implement and improve OPF(optimal power flow) objectives,
                    e.g : cost minimization, operational envelope, bid fulfillment, etc
                </li>
                <li>
                    Design, implement and improve RESTful APIs on micro-service to run powerflow analyses. (flask)
                </li>
                <li>
                    Design, implement and improve Queue-based micro-service to run powerflow analyses. (Kafka)
                </li>
                <li>
                    Design, implement and improve benchmark testing tools
                </li>
                <li>
                    Write documentations and white papers for the optimization models and applications developed
                </li>
                <li>
                    Analysis and validate optimal power flow results of customers' networks, and compare results with
                    published data from IEEE Power & Energy Society (IEEE PES)
                </li>
            </ul>

        </TimeLineElement>

        <TimeLineElement
                position="Full Stack Developer"
                company="GreenfieldSCM, Supply Chain Management"
                startDate="2017"
                endDate="2019"
                logo="/greenfieldscm.jpeg"
        >
            Developing Visualized Supply Chain Management System, include tracking, payment,
            and invoice generation functions. This web app is built by React (for frontend),
            MYSQL and Django (for backend).
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Python</li>
        <li>Pytorch</li>
        <li>PYG</li>
        <li>Ray.io</li>
        <li>React</li>
        <li>GAMS</li>
        <li>AWS/GCP/Azure</li>
        <li>flask/fastapi</li>
        <li>Kafka</li>
        <li>Docker</li>
        <li>K8S</li>
        <li>System Design</li>
        <li>CI/CD</li>
        <li>Power System</li>
        <li>Optimization</li>
        <li>Machine Learning</li>
        <li>Github/Gitlab</li>
        <li>AC OPF</li>
        <li>Rust</li>
    </ul>
</BaseLayout>
