---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "menu-active-glow"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base transition-colors duration-200 hover:bg-base-300/60 hover:text-primary" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base transition-colors duration-200 hover:bg-base-300/60 hover:text-primary" id="award" href="/award/">Award</a></li>
    <li><a class="py-3 text-base transition-colors duration-200 hover:bg-base-300/60 hover:text-primary" id="project" href="/project/">Project</a></li>
    <li><a class="py-3 text-base transition-colors duration-200 hover:bg-base-300/60 hover:text-primary" id="blog" href="/blog/">Blog</a></li>
    <li><a class="py-3 text-base transition-colors duration-200 hover:bg-base-300/60 hover:text-primary" id="cv" href="/cv">CV</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
